:root {
  /* Colors */
  --primary-color: rgb(230, 230, 230);
  --secondary-color: rgb(8, 8, 8);
  /* Fonts */
  --primary-font: "Archivo", sans-serif;
  --font-base: 1rem;
  --font-sm: calc(var(--font-base) / 1.25);
  --font-md: calc(var(--font-base) * 1.25);
  --font-lg: calc(var(--font-base) * 1.5);
  --font-xl: calc(var(--font-base) * 2.5);
  --font-xxl: calc(var(--font-base) * 3.5);
  --font-regular: 400;
  --font-semibold: 600;
  /* Spacings */
  --spacing-base: 1rem;
  --spacing-sm: calc(var(--spacing-base) / 2);
  --spacing-md: calc(var(--spacing-base) * 1.5);
  --spacing-lg: calc(var(--spacing-base) * 2);
  --spacing-xl: calc(var(--spacing-base) * 3);
  /* Shape */
  --shape-sm: 10px;
  --shape-base: 20px;
  /* Animation */
  --animation-duration: 1000ms;
  /* Shadow */
  --shadow-offset: 2px 2px;
  --shadow-blur: 5px;
  --shadow-color: rgb(0, 0, 0);
  
  background-color: var(--secondary-color);
  background-image: url("../img/texture-background.png");
  color: var(--primary-color);
  font-family: var(--primary-font);
  font-size: var(--font-base);
  font-weight: var(--font-regular);
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}

a, button {
  border: 3px solid transparent;
}

a:hover, a:focus,
button:hover, button:focus {
  border-image: url("../img/chrome-texture.jpg") 100;
  -o-border-image: url("../img/chrome-texture.jpg") 100;
  outline: none;
}

a {
  display: block;
  color: currentColor;
  text-decoration: none;
}

button {
  background-color: transparent;
  cursor: pointer;
  color: inherit;
  font-family: inherit;
  font-weight: var(--font-semibold);
}

p {
  line-height: 1.5rem;
  text-align: justify;
}
