.nav-button {
  background-color: var(--secondary-color);
  background-image: url("../img/texture-card.png");
  border-radius: var(--shape-sm);
  box-shadow: var(--shadow-offset) var(--shadow-blur) var(--shadow-color);
  padding: 0.75rem var(--spacing-base);
}

.nav-button.language, .nav-section-buttons {
  --margin: var(--spacing-base);
  position: fixed;
  bottom: var(--margin);
  z-index: 9999;
}

.nav-button.language {
  left: var(--margin);
  text-transform: uppercase;
  height: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
}

.nav-language-button-icon {
  vertical-align: middle;
}

.nav-section-buttons {
  right: var(--margin);
}

.nav-section-buttons > :not(:first-child) {
  margin-top: var(--spacing-sm);
}

:root.js-enabled .nav-noscript-message {
  display: none;
}

:root:not(.js-enabled) .nav-noscript-message {
  background-color: var(--secondary-color);
  background-image: url("../img/texture-card.png");
  border-radius: 0 0 var(--shape-sm) var(--shape-sm);
  box-shadow: var(--shadow-offset) var(--shadow-blur) var(--shadow-color);
  position: fixed;
  display: block;
  width: 100%;
  padding: var(--spacing-base);
  z-index: 9999;
}
